<!DOCTYPE html>
<html lang = "en" xmlns:th = "http://www.thymeleaf.org">
<head th:replace = "index :: header"></head>

<body>
<div th:replace = "index :: top-nav-bar"></div>

<div class = "w3-container w3-padding-large ">
	<div class = "w3-third w3-container"></div>
	<!-- Card -->
	<div class = "w3-third w3-container w3-card-2 w3-center w3-border ">
		<!-- Tittle -->
		<header class = "w3-conatainer w3-theme-d2 w3-border-bottom ">
			<h2>Account Login</h2>
		</header>

		<!-- fields -->
		<div class = "w3-bar w3-conatent w3-border-bottom w3-border-theme w3-padding">
			<form action = "post">
				<label for = "emailInput">Email</label>
				<input class = "w3-input w3-round w3-border w3-theme-light  " id = "emailInput" placeholder = "Email" type = "text"/>

				<label for = "passwordInput">Password</label>
				<input class = "w3-input w3-round w3-border w3-theme-light  " id = "passwordInput" placeholder = "Password" type = "text"/>

				<div class = "w3-padding-16">
					<button class = "w3-btn w3-theme-l1" type = "submit">Login</button>
				</div>
			</form>
		</div>

		<!-- Links -->
		<footer class = "w3-container w3-padding-small w3-bar-block  w3-center">
			<a class = "w3-bar-item " href = "">Register</a>
			<a class = "w3-bar-item " href = "">Forgot you'r password?</a>
		</footer>
	</div>
	<div class = "w3-third w3-container"></div>
</div>
</body>

<footer th:replace = "index :: footer"></footer>
</html>