<!DOCTYPE html>
<html lang = "en">

<head>
    <meta charset = "UTF-8"/>
    <meta content = "width=device-width, initial-scale=1.0" name = "viewport"/>
    <title>Seller</title>
    <link href = "../static/MainPage.css" rel = "stylesheet"/>
</head>

<body>
<nav class = "navbar">
    <ul>
        <li>
            <form action = "post" class = "form">
                <input placeholder = "Search" type = "text"/>
                <button class = "btn" type = "submit">Search</button>
            </form>
        </li>
        <div class = "links">
            <li><a href = "">Home</a></li>
            <li><a href = "">Items</a></li>
            <li><a href = "" id = "account">Account</a></li>
        </div>
    </ul>
</nav>

<div class = "dropdown account-menu">
    <a href = "">Sign in</a>
    <a href = "">Register</a>
</div>


<div class = "items-displayers">
    <div class = "item-filter">
        <div class = "item-order">
            <a href = "#" id = "order-by">Order by</a>
            <div class = "border-arrow">
                <a class = "arrow down" href = "#"></a>
            </div>
        </div>

        <div class = "price">
            <a href = "#">Price</a>
            <input id = "minimum-input" placeholder = "Minimum" type = "number">
            <a href = "#">-</a>
            <input for = "submit-btn" placeholder = "Maximum" type = "number">
        </div>

        <div class = "category">
            <a href = "#">Categorys</a>
            <div class = "border-arrow">
                <a class = "arrow down" href = "#"></a>
            </div>
        </div>

        <a href = "" id = "add-product">Add product</a>
    </div>

    <div class = "dropdown order-by">
        <a class = "" href = "">Price Asc</a>
        <a class = "" href = "">Price Des</a>
        <a class = "" href = "">Name A-Z</a>
        <a class = "" href = "">Name Z-A</a>
    </div>

    <div class = "dropdown category-submenu">
        <a class = "" href = "">Category 1</a>
        <a class = "" href = "">Category 2</a>
        <a class = "" href = "">Category 3</a>
    </div>


    <div class = "item-container">
        <div class = "item">
            <img alt = "Foto"
                 src = "https://http2.mlstatic.com/D_NQ_NP_856979-MCO43856399065_102020-W.webp" width = "10%">
            <div class = "info-item">
                <a class = "title-item" href = "#">Celular</a>
                <a class = "item-price" href = "#">$1.000.000</a>

                <div class = "description-item">
                    <span>Celular Xiomi con todas las prestaciones de ley</span>
                </div>
            </div>
            <a class = "add-shopping" href = "">Add</a>
        </div>


        <div class = "item">
            <img alt = "Foto"
                 src = "https://http2.mlstatic.com/D_NQ_NP_802346-MCO43623205780_092020-O.webp" width = "10%">
            <div class = "info-item">
                <a class = "title-item" href = "#">Relog ultimate model</a>
                <a class = "item-price" href = "#">$1.000.000</a>

                <div class = "description-item">
                <span href = "#"> los apartamentos en bello están muy caros pro ende no los quiero comprar cosa del
                               aberno gato gato pelo cafe cosa del las cosas bla bla bla </span>
                </div>
            </div>
            <a class = "add-shopping" href = "">Add</a>
        </div>
        <div class = "item">
            <img alt = "Foto"
                 src = "https://http2.mlstatic.com/D_Q_NP_872428-MCO43896860559_102020-AB.webp" width = "10%">
            <div class = "info-item">
                <a class = "title-item" href = "#">Earpods black edition</a>
                <a class = "item-price" href = "#">$1.000.000.000.000.000.000.000.000.000</a>

                <div class = "description-item">
                <span href = "#"> las ratas de la costa son muy grandes cosa del
                               aberno gato gato pelo cafe cosa del las cosas bla bla bla </span>
                </div>
            </div>
            <a class = "add-shopping" href = "">Add</a>
        </div>
        <div class = "item">
            <img alt = "Foto"
                 src = "https://http2.mlstatic.com/D_Q_NP_863741-MCO43226738860_082020-AB.webp" width = "10%">
            <div class = "info-item">
                <a class = "title-item" href = "#">Celular</a>
                <a class = "item-price" href = "#">$1.000.000</a>

                <div class = "description-item">
                <span> las ratas de la costa son muy grandes cosa del
                               aberno gato gato pelo cafe cosa del las cosas bla bla bla </span>
                </div>
            </div>
            <a class = "add-shopping" href = "">Add</a>
        </div>
        <div class = "item">
            <img alt = "Foto"
                 src = "https://http2.mlstatic.com/D_NQ_NP_856979-MCO43856399065_102020-W.webp" width = "10%">
            <div class = "info-item">
                <a class = "title-item" href = "#">Celular</a>
                <a class = "item-price" href = "#">$1.000.000</a>

                <div class = "description-item">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis maxime suscipit hic. Ab nulla
                       tempora incidunt praesentium eaque neque aperiam quia adipisci ullam tenetur saepe, sed nam
                       aspernatur animi sunt!</p>
                </div>
            </div>
            <a class = "add-shopping" href = "">Add</a>
        </div>
    </div>

</div>
</body>

</html>